/* 노말라이즈 */

body, ul, li, h1 {
	margin:0;
	padding:0;
	list-style:none;
}


a {
	color:inherit;  /* 색을 뺀다. black으로 만드는게 아니라 부모의 색으로 입힌다. */
}



/* 라이브러리 */
.con {
	margin-left:auto;
	margin-right:auto;
}

.con {
	max-width:1200px;
/* 	border:1px solid red; */
}

.margin-top-10 {
	margin-top:10px;
}

.border-red-1 {
	border:1px solid red;
}








/* 테이블 관련 */
.table-box > table {
	width:100%;
	border-collapse: collapse;
}

.table-box > table th, .table-box > table td {
	border: 1px solid black;
	padding: 10px;
	text-align: left;
}

.table-box > table th > input , .table-box > table td > input {
	width: 100%;
	padding: 0;
	display: block;
	box-sizing: border-box;
	padding: 10px;
}





/* top-bar */

.outer-box .top-bar .menu-box ul {
	text-align:center;
}

.outer-box .top-bar .menu-box ul > li {
	display:inline-block;
	font-size:1.8rem;
	margin:0 30px;
	width:200px;	
}
.outer-box .top-bar .menu-box ul > li > a {
	display:block;
	padding:20px;
	
	
}

.outer-box .top-bar .menu-box ul > li:hover > a {
	background-color:black;
	color:white;
	
}





/* 폼 관련 */
.form1 .form-control-box > input, .form1 .form-control-box>textarea {
	width: 100%;
	padding: 0;
	display: block;
	box-sizing: border-box;
	padding: 10px;
}

.form1 th {
	word-break: keep-all;
}


.form1 .form-row>.form-control-label {
	display: flex;
	align-items: center;
	padding: 10px;
}


