/* 노말라이즈 */
body, ul, li, h1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit; /* 색을 뺀다. black으로 만드는게 아니라 부모의 색으로 입힌다. */
}

/* 라이브러리 */
.break-all {
	word-break:break-all;
}

/* 라이브러리 중 토스트에디터 직접 관련된 것 시작 */
/* 이 작업을 통해서 유튜브 영상 크기가 쫙 꽉차게 변함 */
.abs-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.relative {
  position: relative;
}

.ratio-16-9::after {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.ratio-1-1::after {
  content: "";
  display: block;
  padding-top: 100%;
}
/* 라이브러리 중 토스트에디터 직접 관련된 것 끝 */

.con {
	margin-left: auto;
	margin-right: auto;
}

.con {
	max-width: 1200px;
	/* 	border:1px solid red; */
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-right {
	margin-right: 0;
	margin-left: auto;
}

.border-red-1 {
	border: 1px solid red;
}

.img-box>img, .video-box>video {
	width: 70%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.table-box table th {
	text-align: center;
}

.flex {
	display: flex;
}

.flex-jc-sa {
	justify-content: space-around;
}

.flex-jc-sb {
	justify-content: space-between;
}

.flex-jc-c {
	justify-content: center;
}

.flex-jc-fe {
	justify-content: flex-end;
}

.flex-ai-c {
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

/* 테이블 관련 */
.table-box>table {
	width: 100%;
	border-collapse: collapse;
}

.table-box>table th, .table-box>table td {
	border: 1px solid black;
	padding: 10px;
	text-align: left;
}

.table-box>table th>input, .table-box>table td>input {
	width: 100%;
	padding: 0;
	display: block;
	box-sizing: border-box;
	padding: 10px;
}

/* memo 테이블 관련 */
.memo-table-box>table {
	/* 	border-collapse: collapse; */
	
}

.memo-table-box .memo-box {
	border: 7px solid black;
	width: 350px;
	height: 400px;
	margin: 10px 0;
}

.memo-table-box  table th, .memo-table-box  table td {
	border: 1px solid #d1d1e0;
	padding: 0 10px;
	text-align: left;
}

/* top-bar */
.outer-box .top-bar .menu-box ul {
	text-align: center;
}

.outer-box .top-bar .menu-box ul>li {
	display: inline-block;
	font-size: 1.4rem;
	margin: 0 30px;
	width: 120px;
}

.outer-box .top-bar .menu-box ul>li>a {
	display: block;
	padding: 10px;
	text-decoration: none;
}

.outer-box .top-bar .menu-box ul>li:hover>a:nth-child(1) {
	background-color: red;
	color: white;
}

.outer-box .top-bar .menu-box ul>li:nth-child(2)>a:hover {
	background-color: orange;
	color: white;
}

.outer-box .top-bar .menu-box ul>li:nth-child(3)>a:hover {
	background-color: gold;
	color: white;
}

.outer-box .top-bar .menu-box ul>li:nth-child(4)>a:hover {
	background-color: green;
	color: white;
}

.outer-box .top-bar .menu-box ul>li:nth-child(5)>a:hover {
	background-color: blue;
	color: white;
}

.outer-box .top-bar .menu-box ul>li:nth-child(6)>a:hover {
	background-color: navy;
	color: white;
}

.outer-box .top-bar .menu-box ul>li:nth-child(7)>a:hover {
	background-color: purple;
	color: white;
}

/* 폼 관련 */
.form1 .form-control-box>input, .form1 .form-control-box>textarea {
	width: 100%;
	padding: 0;
	display: block;
	box-sizing: border-box;
	padding: 10px;
}

.form1 th {
	word-break: keep-all;
}

.form1 .form-row>.form-control-label {
	display: flex;
	align-items: center;
	padding: 10px;
}

.form1 .form-control-box>textarea {
	height: 400px;
	resize: none;
}

/* 스크롤바 시작  */
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px grey;
	border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #000;
	border-radius: 0px;
}
/* 스크롤바 끝  */

.btn {
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  
}
/* 버튼 */
.btn {
	background-color: #000000;
	box-shadow: 0px 5px 0px 0px #666666;
}

.btn:hover{
	background-color: #999999;
	cursor:pointer;
}



/* 모바일 버튼 */
/* PC 버전 */
@media (min-width :801px) {
    .visible-on-sm-down {
        display: none;
    }
  
}

/* 모바일(mobile) 버전 */
@media (max-width :800px) {
    .visible-on-md-up {
        display: none;
    }
     .mobile {
    	  display: none;
    }
     .add {
	display:block;
	}
	
	.remove {
		display:none;
	}
}



@media (max-width :1210px)  {
    .visible-on-sm-down button {
    	padding: 5px 20px;
    	font-size:1rem;
    }
}




@media ( max-width :800px ) {
  .table-box.table-box-vertical>table td {
    margin-top: 10px;
  }
  .table-box.table-box-vertical td>.btn {
    display: block;
    width: 100%;
    margin-left: 0;
    border-radius: 4px;
  }
  .table-box.table-box-vertical td>.btn+.btn {
    margin-top: 10px;
  }
  .table-box.table-box-vertical tr {
    padding-bottom: 20px;
  }
  .table-box.table-box-vertical .tr-do>th {
    display: none !important;
  }
}


.te-ww-container .tui-editor-contents {
  padding-left: 10px !important;
  padding-right: 10px;
}

.te-md-container .te-preview {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.tui-md-code-block.CodeMirror-linebackground {
  left: 10px !important;
  right: 0 !important;
}

.tui-editor-defaultUI pre.CodeMirror-line {
  padding-left: 10px !important;
  padding-right: 0 !important;
}

.tui-editor-defaultUI pre {
  word-break: break-all !important;
  white-space: pre-wrap;
}

.tui-editor-contents pre {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

